<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- <div>
    <form>
        <label>Make</label>
        <input type="text" name="make" placeholder="Enter Make" #make>

        <label>Model</label>
        <input type="text" name="model" placeholder="Enter Model" #model>

        <label>Year</label>
        <input type="text" name="year" placeholder="Enter Year" #year>

        <label>Image</label>
        <input type="text" name="imageURL" placeholder="Enter link to Image" #iamgeURL>

        <button type="submit" (click)="addTheCar(make.value,model.value,year.value,iamgeURL.value)">Add the Car</button>
    </form>
</div> -->

<nav class="navbar navbar-light bg-dark">
    <span class="navbar-brand mb-0 h1">S00211628</span>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-4">
            <h1>Add a Car</h1>

            <form action="">
                <div class="form-group">
                    <label for="fName">First Name</label>
                    <input type="text" name="firstName" id="fName" class="form-control">
                </div>

                <div class="form-group">
                    <label for="LName">Last Name</label>
                    <input type="text" name="lastName" id="LName" class="form-control">
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="make">Make</label>
                            <input type="text" name="make" id="make" class="form-control" required #make>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="model">Model</label>
                            <input type="text" name="model" id="model" class="form-control" required #model>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="year">Year</label>
                            <input type="text" name="year" id="year" class="form-control" required #year>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="form-group">
                    <label for="imageUrl">Image URL</label>
                    <input type="text" name="imageURL" id="imageURL" class="form-control" required #iamageURL>
                </div>
                <div class="form-group">
                    <label for="imageUrl">Id</label>
                    <input type="text" name="ID" id="id" class="form-control" required #id>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit"
                        (click)="addTheCar(make.value,model.value,year.value,iamageURL.value,id.value)">Submit</button>
                </div>

            </form>




        </div>
        <div class="col-md-4">
            <app-car *ngFor="let carData of carsData" [carData]="carData">
            </app-car>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>