body{
    background-color: #2f3338 !important;
}

:root{
    --text-color:#d6d2bc;
}

.CarContainer{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #6f8e84;
    border-radius: 20px;
}
.imgContainer{
    overflow: hidden;
    display: flex;
    justify-content: ceneter;
    align-items: center;
    width: 100%;
    height:300px;
   

/* test */
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.carImg{
    width: 100%;
}

h1,h2,h3,h4,p, label{
    color: var(--text-color);
}